<!-- Footer snippet for all pages -->

<footer class="page-footer" aria-label="Footer">
<div class="container" id="footer-container">
  <div id="footer-content">
    <hr id="footer-hr">
    <p>A 3% Production / MMXXI </p>
  </div>
</div>
</footer>