<!-- Create new post button -->

<div class="fixed-action-btn" aria-label="Create new post shortcut">
    <a href="/posts/new" class="btn-floating btn-large waves-effect waves-light red accent-4"><i class="fas fa-plus"></i></a>
</div>