 <!-- Login Card of the Login Page -->
 
 <div class="card-content">
<h3><i class="fab fa-node fa-lg"></i> Blog</h3>
<div class="section">
    <p class="lead">Post about (almost) anything</p>
</div>
</div>
<div class="card-action center-align white">
    <a href="/auth/google" class="btn black" id="login-btn">
    <i class="fab fa-google left"> </i> Login with Google
    </a>
</div>
</div>