<!-- 500 Page -->

<h1>Server Error</h1>
<p>There was an error.</p>
<button class="btn-large waves-effect waves-light blue" aria-label="Go to Main Page"><a class="create-btn" href="/posts">Go to Main page</a></button>