<!-- Private Page -->

<h1>Private</h1>
<h5>This post is private.</h5>
<button class="btn-large waves-effect waves-light blue" aria-label="Go to Main Page"><a class="create-btn" href="/posts">Go to Main page</a></button>