<h3>Create a new post</h3>
<div class="row" aria-label="Content Section">
    <form action="/posts" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" placeholder="Needs a title..." maxlength="140" required>
                <label>Title</label>
            </div>
        </div>

        <div class="row">
            
            <div class="input-field col s3" id="status-div">
                <select id="status" name="status">
                    <option value="public" selected>Public</option>
                    <option value="draft">Draft</option>
                </select>
                 <label>Status</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Content:</h5>
                <textarea id="body" name="body"></textarea>
            </div>
        </div>

        <div class="row">
             <button class="btn-large waves-effect waves-light blue" type="submit" value="post" aria-label="Create a new post">Post</button>
             <button class="btn-large waves-effect waves-light white" aria-label="Cancel new post"><a href="/posts" class="cancel">Cancel</a></button>
        </div>
    </form>
</div>
